@font-face {
    font-family: 'RubikScribble';
    src: url('../style/fonts/RubikScribble-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Nunito';
    src: url('../style/fonts/Nunito-VariableFont_wght.ttf') format('truetype');
    font-weight: normal; 
    font-style: normal;
}

@font-face {
    font-family: 'Orbitron';
    src: url('../style/fonts/Orbitron-VariableFont_wght.ttf') format('truetype');
    font-weight: normal; 
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../style/fonts/Montserrat-VariableFont_wght.ttf') format('truetype');
    font-weight: normal; 
    font-style: normal;
}